<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Magesitemap>
            <version>0.1.2</version>
        </Magestore_Magesitemap>
    </modules>
    <frontend>
        <routers>
            <magesitemap>
                <use>standard</use>
                <args>
                    <module>Magestore_Magesitemap</module>
                    <frontName>magesitemap</frontName>
                </args>
            </magesitemap>
        </routers>
        <layout>
            <updates>
                <magesitemap>
                    <file>magesitemap.xml</file>
                </magesitemap>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<magesitemap>
				<use>admin</use>
				<args>
					<module>Magestore_Magesitemap</module>
					<frontName>magesitemap</frontName>
				</args>
			</magesitemap>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magesitemap module="magesitemap">
				<title>Store Sitemap</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="magesitemap">
						<title>XML Mapping</title>
						<sort_order>0</sort_order>
						<action>magesitemap/adminhtml_magesitemap</action>
					</items>				
				</children>
			</magesitemap>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magestore_Magesitemap>
							<title>Magesitemap Module</title>
							<sort_order>10</sort_order>
						</Magestore_Magesitemap>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<magesitemap>
					<file>magesitemap.xml</file>
				</magesitemap>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <magesitemap>
                <class>Magestore_Magesitemap_Model</class>
                <resourceModel>magesitemap_mysql4</resourceModel>
            </magesitemap>
            <magesitemap_mysql4>
                <class>Magestore_Magesitemap_Model_Mysql4</class>
                <entities>
                    <magesitemap>
                        <table>magesitemap</table>
                    </magesitemap>
					<createsitemap>
						<table>createsitemap</table>
					</createsitemap>
                </entities>
            </magesitemap_mysql4>
        </models>
        <resources>
            <magesitemap_setup>
                <setup>
                    <module>Magestore_Magesitemap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magesitemap_setup>
            <magesitemap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magesitemap_write>
            <magesitemap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magesitemap_read>
        </resources>
        <blocks>
            <magesitemap>
                <class>Magestore_Magesitemap_Block</class>
            </magesitemap>
        </blocks>
        <helpers>
            <magesitemap>
                <class>Magestore_Magesitemap_Helper</class>
            </magesitemap>
        </helpers>
    </global>
</config>